<p id="notice"><%= notice %></p>

<p>
  <b>Source:</b>
  <%= @fortune.source %>
</p>

<p>
  <b>Qoutation:</b>
  <%= @fortune.qoutation %>
</p>


<%= link_to 'Edit', edit_fortune_path(@fortune) %> |
<%= link_to 'Back', fortunes_path %>
